.reveal,
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5 {
  /* TODO: Add dash styling on headings, add padding on text left */
  color: #1a1a1a;
}

/* TODO: H6 will be green (like date on proposal) */
.reveal h6 {}

.reveal .slides {
  text-align: left !important;
}

.backgrounds .slide-background {
  background-color: #ffffff !important;
  transition: none !important;
}

.backgrounds .slide-background:not(:first-child) .slide-background-content {
  background-size: 100px;
  background-position: bottom left;
  width: 100px;
  height: 100px;
  background-size: contain !important;
  bottom: 14px;
  left: 14px;
  background-image: url('https://i.imgur.com/FemNMGz.jpg');
}

/* TODO: Slide animations? */

/* TODO: Improve + add logo top left on first slide*/
/* First slide */
.backgrounds .slide-background:first-child {
  background-color: #1a1a1a !important;
}

.reveal .slides section:first-child,
.reveal .slides section:first-child > div > * {
  color: #ffffff !important;
}

